<!-- <nav class="navbar navbar-expand-sm " style="background-color:#18589b ; border-bottom: 2px solid black;">
   
  <img src="../../assets/images/teamLiftssLogo.png" alt="TeamLiftss">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ms-auto ">
      <li class="nav-item d-flex justify-content-end">
        <h3 style="margin-right: 15px;">Lokesh <span id="initial">M</span></h3>
       
      </li>
      <li>
        
      </li>
    
    </ul>
  </div>

</nav>

  -->
  <nav class="navbar navbar-expand-sm " style="background-color:#18589b ; border-bottom: 2px solid black;">
   
    <img src="../../assets/images/teamLiftssLogo.png" alt="TeamLiftss">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item d-flex justify-content-end">
          <h3 style="    margin-right: 9px;color: #e8b730;margin-top: 3px;">{{userName}}</h3>
          <img src="../../assets/images/yellowAvatar.png" alt="avatar" style="    height: 40px;width: 40px; margin-right: 10px;">
         
        </li>
        <li>
          
        </li>
      
      </ul>
    </div>

</nav>