/* #background{
    background: url(../../assets/images/backgroundimg.jpg);

height: 100vh;
position: fixed;
width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
h2{
    color: darkblue;
}
input{
    background: transparent;
    border: 1px solid black;
}
label{
    color: white;
}
input[type="text"],
textarea {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #000000 !important;
    background: transparent;
    font-weight: bold;
    
    
}

input[type="password"],
textarea {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #000000 !important;
    background: transparent;
    font-weight: bold;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext {
  padding: 0rem 0.75rem;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select {
  height: calc(2.5rem + 2px);
  line-height: 1;
}

.form-floating>label {
  padding: 0.5rem 0.75rem;
}
.container{
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
form{
    padding: 20px;
}
button{
    width: 50%;
    font-weight: bold;
    position: absolute;
    right: 0;
    font-size: 20px;
}
a{
    text-decoration: none;
    margin-top: 10px;
    color: black;
    font-weight: bold;
}
a:hover{
    color: white;
}
.glow-on-hover {
   
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
   
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} */
h2{
    color: #043955;
}
input{
    background: transparent;
    border: 1px solid black;
}
label{
    color: rgb(0, 0, 0);
}
 input[type="text"],
textarea {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #000000 !important;
    background: transparent;
    font-weight: bold;
    
    
}

input[type="password"],
textarea {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #000000 !important;
    background: transparent;
    font-weight: bold;
}

 button{
    width: 50%;
    font-weight: bold;
    position: absolute;
    right: 0;
    font-size: 20px;
}
a{
    text-decoration: none;
    margin-top: 10px;
    color: black;
    font-weight: bold;
}
.glow-on-hover {
   
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
   
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.boder{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(0px);
background: rgba(255, 255, 255, 0.2);
}
h2{
    color: #043955;
    font-family: math;
    font-size: 38px;
}
.logo_head {
    font-size: 22px;
  }
  
  section.logo_bg {
    padding: 144px 24px 0 0;
  }
  
  button.submit_btn {
    background: #043955;
    color: #fff;
    border: none;
    width: 100%;
    padding: 4px 3px;
    border-radius: 5px;
  }
  
  .img-fluid {
    max-width: 100% !important;
    height: 100vh !important;
  }
  
  .signup {
    cursor: pointer;
  }
  
  .modal-header {
    padding: 0 10px;
    display: unset;
  }
  
  h5#signUpLabel {
    font-size: 16px;
    text-align: center;
  }
  
  .back_icon {
    content: ' \00A7';
  }
  
  .logo {
    width: 183px;
    position: absolute;
    top: -111px;
    left: 80px;
  
  }