/* messbox */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #33679352;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }


.darker:hover{
cursor: pointer;
opacity: 0.7;
}

.name{
  font-size: 19px;
  font-weight: bold;
  font-family: sans-serif;
  color: #18589b;
}
.fa-star{
  font-size: 22px;
  margin-top: 7px;
  margin-left: 10px;
  cursor: pointer;

}
nav{
  position: sticky;
    top: 0;
}