<!-- 
<nav id="sidenav">
    <a href=""><i class="fa-regular fa-envelope"><span class="badge ">0</span></i></a>
    <a href=""><i class="fa-regular fa-star"></i><span id="starCount">0</span></a>
    <a href="#first"><i class="far fa-user"></i></a>
    <a href="#second"><i class="fas fa-briefcase"></i></a>
    <a href="#third"><i class="far fa-file"></i></a>
    <a href="#fourth"><i class="far fa-address-card"></i></a>
    <a href=""><i class="fa-solid fa-gear"></i></a>
    <a href=""></a>
    <a href=""></a>
  </nav>
 -->
 <nav class="main-menu">

  <div>
     <a class="logo" routerLink="#">
     </a> 
   </div> 
 <div class="scrollbar" id="style-1">
       
 <ul>
   
 <li>                                   
 <a routerLink="#">
  <i class=" fa fa-solid fa-star"></i>
 <span class="nav-text">Stared</span>
 </a>
 </li>   
    
 <li>                                 
 <a routerLink="#">
 <i class="fa fa-user fa-lg"></i>
 <span class="nav-text">Users</span>
 </a>
 </li>   
 
     
 <li>                                 
 <a routerLink="#">
 <i class="fa fa-envelope-o fa-lg"><span id="messCount">{{messageCount}}</span></i>
 <span class="nav-text">Message</span>
 </a>
 </li>   

